---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_17yD3tLEtKgthVSvHiXqBM7A&currency=usd&description=Sign+up+charge+for+john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17yD3tLEtKgthVSvegPa9Ycg"
          }
        }
  recorded_at: Sat, 09 Apr 2016 03:47:13 GMT
recorded_with: VCR 3.0.1
