<!DOCTYPE html>
<html>
<body>
  <p> Welcome to Myflix,  <%= @user.username %>. </p>
  <p> Your account was successfully created! </p>
  <p> We wish you many hours of happy viewing! </p>
  <p> Sincerely, </p>
  <p> The Myflix Team </p>
</body>
</html>