---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18JSG9LEtKgthVSveErXV9Bo",
          "object": "token",
          "card": {
            "id": "card_18JSG9LEtKgthVSv94gjHKQF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "9aTT0lqdtJXxYmrk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.118.48.187",
          "created": 1465236933,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 06 Jun 2016 18:15:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_18JSG9LEtKgthVSveErXV9Bo&currency=usd&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18JSG9LEtKgthVSvDEce0gvy",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18JSG9LEtKgthVSv6XUNHoed",
          "captured": true,
          "created": 1465236933,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18JSG9LEtKgthVSvDEce0gvy/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18JSG9LEtKgthVSv94gjHKQF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "9aTT0lqdtJXxYmrk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 06 Jun 2016 18:15:34 GMT
recorded_with: VCR 3.0.1
