---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18TxRYLEtKgthVSvrRdF7hGC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18TxRYLEtKgthVSvrRdF7hGC",
          "object": "event",
          "api_version": "2016-02-29",
          "created": 1467740084,
          "data": {
            "object": {
              "id": "ch_18TxRYLEtKgthVSvp0qhuws2",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1467740084,
              "currency": "usd",
              "customer": "cus_8fxuUhIlBb5EqG",
              "description": "another failed payment",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_18TxRYLEtKgthVSvp0qhuws2/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_18TvCOLEtKgthVSvHMQ3awee",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8fxuUhIlBb5EqG",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "u63lpppmy7oAjJnA",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8lUQhpZveNn1sf",
          "type": "charge.failed"
        }
  recorded_at: Tue, 05 Jul 2016 19:37:21 GMT
recorded_with: VCR 3.0.1
