---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18TzMJLEtKgthVSvPplUwyX8",
          "object": "token",
          "card": {
            "id": "card_18TzMJLEtKgthVSvdmeaptbh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "9aTT0lqdtJXxYmrk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.118.48.187",
          "created": 1467747447,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 05 Jul 2016 19:37:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_18TzMJLEtKgthVSvPplUwyX8&email=wilber_fisher%40gibson.org&plan=base
    headers:
      Authorization:
      - Bearer sk_test_7MVUAfev35X4F4iTdj4JQ7Dr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-29'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8lWPrLL6iYiyhi",
          "object": "customer",
          "account_balance": 0,
          "created": 1467747448,
          "currency": "usd",
          "default_source": "card_18TzMJLEtKgthVSvdmeaptbh",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "wilber_fisher@gibson.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18TzMJLEtKgthVSvdmeaptbh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8lWPrLL6iYiyhi",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2018,
                "fingerprint": "9aTT0lqdtJXxYmrk",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8lWPrLL6iYiyhi/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8lWP952Heu9QO1",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1467747448,
                "current_period_end": 1470425848,
                "current_period_start": 1467747448,
                "customer": "cus_8lWPrLL6iYiyhi",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1465229591,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1467747448,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8lWPrLL6iYiyhi/subscriptions"
          }
        }
  recorded_at: Tue, 05 Jul 2016 19:37:29 GMT
recorded_with: VCR 3.0.1
